html {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-size: 16pt;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100svh;
  margin: 80px;
  margin-top: 200px;
}

.header {
  font-size: 3rem;
}

.input {
  padding: 5px;
  min-width: 0;
  width: 100%;
  font-size: 0.8rem;
}

.inputWrapper {
  width: 300px;
  margin-bottom: 16px;
  margin-top: 12px;
}
